.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    .status {
        margin-right: 10px;
        color: transparent;
        &.available {
            color: lightseagreen;
        }
    } 
}